# node / expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
.cache/
*.log

# OS junk
.DS_Store
Thumbs.db

# builds / artifacts
build/
*.keystore
*.jks

# If you're using *managed* Expo, keep these ignored:
android/
ios/
